.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --header1-color: #db00ff;
  --header2-color: var(--accent-color);
  --header3-color: var(--background-color);
  --decoration-color: var(--accent-color);
  --rec-border: #FF0070;
  --rec-radius-border: 1px solid #FF0070;
  --rec-radius: 50%;
  --rec-radius-back: #FF0070;
  --rec-radius-shadow: 0 0 4px 2px #FF0070;
  --rec-text: #FF0070;
  --is-light: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --accent-color: #ff0070;
    --accent-color-opacity: #ff007066;
    --text-color: #f1b2ce;
    --background-color: #000028;
    --header1-color: #db00ff;
    --header2-color: var(--accent-color);
    --header3-color: var(--background-color);
    --decoration-color: var(--accent-color);
    --rec-border: #FF0070;
    --rec-radius-border: 1px solid #FF0070;
    --rec-radius: 50%;
    --rec-radius-back: #FF0070;
    --rec-radius-shadow: 0 0 4px 2px #FF0070;
    --rec-text: #FF0070;
    --is-light: hidden;
    }
}
