/*Основные стили проекта*/
.page {
  color: var(--text_color);
  font-family: var(--font_family);
  font-size: var(--font);
  line-height: calc(var(--lines_and_blocks) - 1.6px);
  background-color: var(--background_color);
  background-image: var(--background_image);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

/*Шапка и подвал оформлены схожим образом*/
.header, 
.footer {
  display: grid;
  padding: var(--header_footer_paddings);
  min-height: 668px;
  height: 100vh;
}

/*Шапка*/
.header {
  align-items: start;
}

.decorated-zone {
  position: relative;
}

/*Обрамляем в "рамку"*/
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: var(--lines_and_blocks);
  block-size: var(--lines_and_blocks);
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--border_color);
  border-block-start: 1px solid var(--border_color);
  inset-inline-end: var(--inset_inline);
  inset-block-start: var(--inset_inline);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--border_color);
  border-block-end: 1px solid var(--border_color);
  inset-inline-start: var(--inset_inline);
  inset-block-end: var(--inset_inline);
}

.rec {
  position: absolute;
  z-index: -1;
  /*Указала значение по умолчанию, без него в Яндексе и Edge надпись не отображается*/
  visibility: var(--visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  inset-inline-end: calc(var(--gap) * 2);
  inset-block-start: var(--gap);
}

/*Создание надписи для тёмной темы
Примечание: в Опере GX, по видимому, отображение работает по-другому. При
переключении тем фрагменты не пропадают в любом варианте*/
.rec::before {
  content: "REC";
  color: var(--decor_color);
  line-height: calc(var(--lines_and_blocks) - 1px);
}

/*Создаём точку*/
.rec::after {
  content: "";
  display: inline-block;
  border-radius: calc(var(--persent)/2);
  box-shadow: 0 0 4px 3px var(--decor_color);
  background: var(--decor_color);
  inline-size: calc(var(--gap) * 0.9);
  block-size: calc(var(--gap) * 0.9);
}

/*Оформляем кнопки переключения тем*/
.header__theme-menu {
  justify-self: end;
  margin-block: calc(var(--gap) * 6 - 5px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) + 2px);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: calc(var(--gap) * 0.4) calc(var(--gap) * 1.2);
  color: var(--border_color);
  line-height: var(--font);
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover_color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.shadow {
  text-shadow: 2px 2px 0 var(--decor_color);
}

.focus_title {
  color: var(--header_color);
  font-weight: var(--bold);
  font-size: var(--page_title_font);
  line-height: calc(var(--persent) - 15%);
  text-shadow: 4px 4px 0 var(--decor_color);
}

.header_text {
  margin-block: calc(var(--gap) * 5 + 5px);
  color: var(--letters);
  font-weight: var(--bold);
  font-size: inherit;
  line-height: inherit;
  background: var(--decor_color);
}

/*Главный блок*/
.main {
  display: grid;
  gap: calc(var(--gap) * 5);
  padding: calc(var(--gap) * 4) var(--gap);
}

/*Стили для карточек*/
.card {
  display: grid;
  gap: calc(var(--gap) * 2);
}

/*Для всех заголовков*/
.card_title {
  color: var(--border_color);
  font-weight: var(--bold);
  font-size: inherit;
  line-height: inherit;
}

/*Для h3, h4*/
.title_decor {
  color: var(--letters);
  background: var(--decor_color);
}

/*Оформляем ссылки
Аналогично предыдущему примечанию: в Опере GX они работают по-другому*/
.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text_color);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.content {
  display: grid;
  gap: calc(var(--gap) * 2);
}

.article {
  display: grid;
  gap: var(--gap);
}

/*Оформляем блок картинок*/
.gallery {
  gap: var(--gap);
}

.card_recommendations {
  margin-block-end: calc(var(--gap) * 2);
}

.gallery_list {
  display: grid;
  gap: var(--gap);
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: var(--persent);
  inline-size: var(--persent);
}

/*Подвал*/
.footer {
  place-items: center;
}

/*Названия для блока совет имеют обычный шрифт, не жирный*/
.normal {
  font-weight: var(--normal);
}

@media (width >= 768px) {
  .rec {
    inset-inline-end: calc(var(--gap) * 2 + 8px);
    inset-block-start: calc(var(--gap) * 2);
  }

  .focus_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .card {
    grid-template-columns: clamp(236px, calc(var(--persent) / 3.25), 315px) 1fr;
  }

  .card_attention {
    grid-column-start: span 2;
  }

  .gallery {
    grid-template-columns: 1fr;
    gap: calc(var(--gap) * 2);
  }

  .card_recommendations_list {
    grid-column-start: 2;
  }

  .gallery_list {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--gap) * 2);
  }

  .gallery_list_item:first-child,
  .gallery_list_item:last-child {
    grid-column-start: span 2;
  }

  .gallery_list_item:nth-child(2),
  .gallery_list_item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: calc(var(--gap) * 17);
    margin-block-end: calc(var(--gap) * 7);
  }

  .header_text {
    justify-self: end;
    inline-size: clamp(364px, calc(var(--persent) / 2 - 10px), 491px);
  }

  .main {
    gap: calc(var(--gap) * 8);
    padding: calc(var(--gap) * 6) calc(var(--gap) * 2);
  }
}

@media (width >= 1024px) {
  /*Переместила однаковые цвета сюда
  https://disk.yandex.ru/i/upmiNBUouFcJsA*/
  .focus_title {
    text-shadow: 4px 4px 0 var(--big_screen_shadow);
  }

  .card {
    column-gap: calc(var(--gap) * 3);
  }

  .card_attention {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: calc(var(--gap) * 2);
    margin-block-start: 0;
    margin-block-end: calc(var(--gap) * 21 + 5px);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/*@media (width <= 768px) {
  .rec {
    top: calc(var(--gap) * 2 );
    right: calc(var(--gap) * 3 );
  }
}
