
/* Основные стили проекта

Надеюсь, я правильно поняла, что изображение идёт
Для всех страницы (то есть не как на макете только
у заголовка)*/
.page {
  font-family: var(--font);
  background-color: var(--bg_col);
  background-attachment: fixed; /*рекомендация от гитхаба*/
  background-image: var(--bg_img);
  background-size: cover;
  background-position: bottom; /*по макеты картинка видна снизу*/
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after, 
.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  z-index: -1;
}

.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  top: calc(var(--gap));
  right: calc(var(--gap));
  border-top: 1px solid var(--decor_col);
  border-right: 1px solid var(--decor_col);
}

.decorated-zone::after {
  justify-self: start;
  align-self: flex-end;
  left: calc(var(--gap));
  bottom: calc(var(--gap));
  border-bottom: 1px solid var(--decor_col);
  border-left: 1px solid var(--decor_col);
} 

.header {
  height: 100vh;
  padding: var(--gap);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
}

/*надпись стоит оформить отдельно. Отступы в зависимости от размера меняются*/
.rec {
  display: inline-flex;
  align-items: center;
  position: absolute;
  gap: var(--gap);
  inset-inline-end: calc(var(--gap) * 2);
  inset-block-start: var(--gap);
  /*https://developer.mozilla.org/ru/docs/Web/CSS/visibility
  Тут прочитала как можно его спрятать.
  Очень рада, что всё сработало! Ещё раз спасибо!*/
  visibility: visible;
  top: 20px; 
  right: 28px;
}

.rec::before {
  content: 'REC';
  color: var(--rec);
  line-height: 25px;
  text-transform: uppercase;
  color: var(--rec);
  font-family: var(--font);
  font-size: var(--fs-base);
}

/*Создаём точечку*/
.rec::after {
  border-radius: var(--radius);
  background-color: var(--rec_bg);
  box-shadow: var(--shadow);
  content: '';
  inline-size: var(--gap);
  block-size: var(--gap);
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--gap);
}

/*Оформляем кнопки*/
.header__theme-menu-button {
  padding: 4px 13px;
  color: var(--decor_col);
  font-size: var(--fs-base);
  line-height: var(--line);
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
}

/*Активная ссылка*/
.header__theme-menu-button_active {
  border: 1px solid var(--decor_col);
}

/*При наведении (не активная)*/
.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--decor_col_but);
}

/*Правила при фокусе*/
.header__theme-menu-button:focus {
  outline: none;
  text-underline-position: under;
  border: none;
}

.title, .footer_title {
  color: var(--head_col);
  font-size: var(--mobile-fs);
}

/*Поместила цвет в переменную, однако, если смотреть по пипетке и по макету, то 
на большом экране цвета однаковые, а на маленьких отличаются
https://disk.yandex.ru/i/cxSwN3kgANtSVQ
https://disk.yandex.ru/i/upmiNBUouFcJsA 
(не сочтите за грубость, пожалуйста, просто хотела объяснить почему тут я поставила такой
цвет👉👈. Спасибо за замечание!)*/
.title {
  grid-column: 1 / 3;
  justify-self: start;
  text-shadow: 4px 4px 0 var(--common_col); /* изменяем цвет при уменьшении экрана */
  line-height: var(--small_line);
}

.header_text {
  grid-column: 1 / 3;
  justify-content: end;
  display: inline-block;
}

/*Этот элемент используется для многих текстов */
.title_decor {
  color: var(--text_head);
  background-color: var(--common_col);
  font-size: var(--fs-base);
  font-weight: var(--bold);
  grid-column: 1 / 4;
  max-width: 1183px;
}

/*Основная часть состоит из контента*/
.main, .content, .pictures_conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main {
  padding: var(--gap) calc(var(--gap) * 4);
  grid-auto-flow: column;
  gap: calc(var(--gap) * 5);
}

.content {
  grid-column: 1 / 4;
  gap: calc(var(--gap) * 2);
}

.card {
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.content_title, .text {
  line-height: var(--large-line);
  grid-column: 1 / 4;
  font-size: var(--fs-base);
  color: var(--text);
}

.content_title {
  color: var(--text_head);
  font-weight: var(--bold);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--common_col);
}

.link:hover {
  border-bottom: 1px solid var(--text);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}

/*Создаём 'воронку', как в уроках*/

.pictures_conteiner {
  grid-column: 1 / 4;
  gap: var(--gap);
}

.img { 
  grid-column: 1 / 4; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
} 

/*Названия советов - обычный текст*/
.normal {
  font-weight: var(--normal);
}

/*подвал*/
.footer {
  padding: var(--gap);
  block-size: 100vh;
  display: grid;
}

/*Некоторые правила совпадают с шапкой*/
.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--head_col);
  text-shadow: 2px 2px 0 var(--common_col);
  font-size: var(--mobile-fs);
  line-height: var(--line);
}

@media (width >= 768px) {
  .header {
    padding: calc(var(--gap) * 2);
  }

  .title {
    position: relative;
    margin-inline-start: -20px;
    font-size: var(--desk-fs);
    text-shadow: 4px 4px 0 var(--big-title-shadow);
  }

  .header_txt {
    grid-column: 2 / 3;
  }

  .main {
    margin-block: calc(var(--gap) * 6);
    padding-inline: calc(var(--gap) * 2);
    row-gap: calc(var(--gap) * 8);
  }

  .content {
    grid-template-columns: 1fr 2fr;
    margin-bottom: var(--gap);
  }

  .content_title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: var(--decor_col)
  }

  .card {
    grid-column: 2 / 3;
  }

  .content > .title_decor {
    grid-column: 2 / 3;
  }

  .pictures_conteiner {
    gap: calc(var(--gap) * 2);
  }

/*Здесь я долго мучалась, но как отобразить картинки
без ображения к ним так и не поняла(*/
.img {
  object-fit: cover;
  object-position: center;
} 

.img:nth-child(2) {
  grid-column: 1 / 3;
} 

.img:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
} 

.img:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
} 

.img:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.img:nth-child(6) {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

  .footer {
    padding: calc(var(--gap) * 2);
  }
}

@media (width >= 1024px) {
  .title, .footer_title {
    font-size: var(--desk-fs);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    grid-column: 2 / 4;
  }

  .content_title {
    grid-row: span 1;
  }

  .content:nth-child(2) .card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }

  .content > .title_decor {
    grid-column: 2 / 4;
  }
  .text {
   line-height: var(--large-line);
  }
  
  .decorated-zone::before {
    top: calc(var(--gap) * 2);
    right: calc(var(--gap) * 2);
  }
  
  .decorated-zone::after {
    bottom: calc(var(--gap) * 2);
    left: calc(var(--gap) * 2);
  }

  .content_title {
    color: var(--decor_col);
  }
}

@media (width < 768px) {
  .content_title {
    color: var(--decor_col);
  }

  .text {
    line-height: var(--large_line);
  }

  .content {
    column-gap: 30px;
  }

  .main {
    padding: var(--gap);
  }
}

@media (width <= 375) {
  .content_title {
    color: var(--decor_col);
  }
}
