/* Основные стили проекта*/
.page {
  font-family: var(--font);
  background-color: var(--bg_col);
  background-attachment: fixed; /*рекомендация от гитхаба*/
}

.decorated-zone {
  height: max(100%, 668px); /*устанавливаем максимальную высоту по шаблону*/
}

.decorated-zone::after, 
.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
}

/*отступы для экрана менее 375 по макету меньше*/
.decorated-zone::before {
  /*inset применить сложно, расписала отдельно */
  top: calc(var(--gap) * 2);
  right: calc(var(--gap) * 2);
  border-top: 1px solid var(--decor_col);
  border-right: 1px solid var(--decor_col);
}

.decorated-zone::after {
  left: calc(var(--gap) * 2);
  bottom: calc(var(--gap) * 2);
  border-bottom: 1px solid var(--decor_col);
  border-left: 1px solid var(--decor_col);
}

.header {
  height: 100vh;
  padding: 0 20px 0 0;
  background-image: var(--bg_img);
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  background-position: bottom; /*по макеты картинка видна снизу*/
}

/*надпись стоит оформить отдельно. Отступы в зависимости от размера меняются*/
.rec {
  color: var(--rec);
  font-family: var(--font);
  font-size: var(--fs-base);
  text-align: center;
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  top: calc(var(--gap) * 2);
  right: calc(var(--gap) * 5);
}

/*Создаём точечку*/
.rec::after {
  border-radius: var(--radius);
  background-color: var(--rec_bg);
  box-shadow: var(--shadow);
  content: '';
  position: absolute;
  inline-size: var(--gap);
  block-size: var(--gap);
  top: 8px;
  left: 45px;
}

/*выравниваем по центру*/
.header__theme-menu {
  justify-self: end;
  grid-column: 1 / 3;
  padding: var(--gap);
}

/*элементы в 1 линию*/
.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap);
}

/*Оформляем кнопки*/
.header__theme-menu-button {
  color: var(--decor_col);
  font-size: var(--fs-base);
  line-height: var(--line);
  padding: 5px 15px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
}

/*Активная ссылка*/
.header__theme-menu-button_active {
  border: 1px solid var(--decor_col);
}  

/*При наведении (не активная)*/
.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--decor_col_but);
}

/*Правила при фокусе*/
.header__theme-menu-button:focus {
  outline: none;
  text-underline-position: under;
  border: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-position: under;
  border: none;
}

.title, .footer_title {
  color: var(--head_col);
  font-size: var(--mobile-fs);
}

/*no focus*/
.title {
  line-height: var(--small-line);
  grid-column: 1 / 3;
  justify-self: start;
}

/*большой текст в шапке*/
.hdr_txt {
  display: block;
  justify-content: end;
}

/*Этот элемент используется для многих текстов */
.title_decor {
  color: var(--text_head);
  background-color: var(--common_col);
  font-size: var(--fs-base);
  font-weight: var(--bold);
  line-height: var(--large-line);
  grid-column: 1 / 4;
}

/*Основная часть состоит из контента*/
.main, .content, .pictures_conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main {
  row-gap: calc(var(--gap) * 5);
  margin-block: calc(var(--gap) * 4);
  padding-inline: var(--gap);
  grid-auto-flow: column;
}

.content {
  gap: calc(var(--gap) * 2.5);
  grid-column: 1 / 4;
}

.card {
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.content_title, .text {
  line-height: var(--large-line);
  grid-column: 1 / 4;
  font-size: var(--fs-base);
}

.content_title {
  color: var(--text_head);
  font-weight: var(--bold);
}

.text {
  color: var(--text);
}

/*Ссылки в тексте*/
.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--common_col);
}

.link:hover {
  border-bottom: 1px solid var(--text);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text);
  outline-offset: -1px;
}

/*Названия советов - обычный текст*/
.normal {
  font-weight: var(--normal);
}

/*Создаём "воронку, как в уроках*/
.pictures_conteiner {
  grid-column: 1 / 4;
  grid-auto-flow: column;
  gap: var(--gap);
}

.img {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

/*подвал*/
.footer {
  padding: var(--gap);
  block-size: 100vh;
  display: grid;
}

/*Некоторые правила совпадают с шапкой*/
.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--head_col);
  text-shadow: 2px 2px 0 var(--common_col);
  line-height: var(--title-line-height);
}

@media (width >= 768px) {
  .title {
    position: relative;
    font-size: var(--desk-fs);
    text-shadow: 4px 4px 0 rgb(255,0,112);
  }

  .hdr_txt {
    grid-column: 2 / 3;
  }

  .main {
    margin-block: calc(var(--gap) * 6);
    padding-inline: calc(var(--gap) * 2);
    row-gap: calc(var(--gap) * 8);
  }

  .content {
    grid-template-columns: 1fr 2fr;
  }

  .content_title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .card {
    grid-column: 2 / 3;
  }

  .content:nth-child(2) .card {
    grid-column: 1 / 4;
  }

  .content > .title_decor {
    grid-column: 2 / 3;
  }

  .img {
    object-fit: cover;
    object-position: center;
  }

  .img:nth-child(2) {
    grid-column: 1 / 3;
  }

  .img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .img:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: calc(var(--gap) * 2);
  }
}

@media (width >= 1024px) {
  .title, .footer_title {
    font-size: var(--desk-fs);
  }

  .content, .content:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .card {
    grid-column: 2 / 4;
  }

  .content:nth-child(2) {
    grid-template-rows: repeat(2, auto);
  }

  .content:nth-child(2) .content_title {
    grid-row: span 1;
  }

  .content:nth-child(2) .card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }

  .content > .title_decor {
    grid-column: 2 / 4;
  }

  
  .pictures_conteiner {
    gap: calc(var(--gap) * 2);
  }
}

@media (width < 768px) {
  .header {
    text-shadow: 4px 4px 0 var(--common_col); /* изменяем цвет при уменьшении экрана */
  }
}

@media (width <= 375px) {
  .title {
    font-size: var(--desk-fs);
  }
  .rec {
    top: var(--gap);
    right:calc(var(--gap) * 4);
  }
  .decorated-zone::after {
    left: var(--gap);
    bottom: var(--gap);
  }
  .decorated-zone::before {
    top: var(--gap);
    right: var(--gap);
  }
}

@media (375px < width < 768px) {
  .hdr_txt, .title_decor {
    justify-content: end;
    display: inline-block;
    min-width: 355px;
    grid-column: 2/3;
  }
}
