
:root {
  --font-family: 'IBM Plex mono', monospace;
  --fs-base: 18px;
  --small-line-height: 83%;
  --regular-line-height: 100%;
  --large-line-height: 130%;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --font-style: normal;

}
