:root {
  --font_family: "IBM Plex mono", monospace;
  --background-image: url("../images/cover-image.png");
  --gap: 10px;
  --font: 18px;
  --lines_and_blocks: 25px;
  --inset_inline: clamp(var(--gap), 0.0286rem + 2.5445vw, calc(var(--gap) * 2));
  --bold: bold;
  --normal: normal;
  --header_footer_paddings: clamp(var(--gap), 0.0286rem + 2.5445vw, calc(var(--gap) * 2));
  --page_title_font: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --persent: 100%;
}
